.border-left-primary {
    border-left:.25rem solid #4e73df!important
}
.border-left-success {
    border-left:.25rem solid #1cc88a!important
}
.border-left-info {
    border-left:.25rem solid #36b9cc!important
}
.card {
    position:relative;
    display:flex;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background-color:#fff;
    background-clip:border-box;
    border:1px solid #e3e6f0;
    border-radius:.35rem
}

.mr-3,
.mx-3 {
  margin-right:1rem!important
}