@use 'color';
@use 'responsive';

.container-home {
}

.img-carroulssel {
    max-width: 100%;
    max-height: 100%;
}

.flex-container-categories {
    display: flex;
    flex-direction: row;
    padding: 5%;
    background-image: url("../img/home/background_categories_home.png");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center; 
    background-color: blue($color: #000000);
}

.popular-row {
    display: flex;
    padding: 5%;
    justify-content: center;
    align-items: center; 
    background-color: blue($color: #000000);
}

.flex-container-popular {
    background-image: url("../img/home/background_popular_home.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0%;
}

