@use 'color';
@use 'responsive';
@use 'fonts';

.container-home {
  background-color: color.$primary-black;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  color: #000000;
}

.img-carroulssel {
  max-width: 100%;
  max-height: 100%;
}

.container-categorie-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: color.$primary-white;
  background-image: url('../img/home/background_categories_home.png');
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    font-family: fonts.$regular-police;
    width: 100%;
    float: left;
    margin-left: 5%;
    margin-top: 2%;
    font-size: 30px;
  }
}

.flex-container-categories {
  display: flex;
  flex-direction: wrap;
  width: 100%;
  justify-content: space-around;
  padding: 5%;
  align-items: center;
}

.popular-row {
  display: flex;
  padding: 5%;
  justify-content: center;
  align-items: center;
  background-color: blue($color: #000000);
}

.flex-container-popular {
  padding: 3%;
  background-image: url('../img/home/background_popular_home.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0%;
}

.container-products-popular {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  text-decoration: none;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
}

#card-popular-products {
  margin: 0%;
  padding: 0%;
}

.product-card-popular {
  width: 300px;
  height: 200px;
  flex-grow: 1;
  flex-basis: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 5% 5%;
}
.container-products-popular h1,
h2 {
  margin-top: 3%;
  font-size: 27px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
h2 {
  font-size: 22px;
}
.link-products-popular {
  text-decoration: none;
  color: black;
  border-left: 2px solid black;
  padding-top: 100px;
  padding-bottom: 100px;
}

.product-card-img {
  width: 25.3%;
  height: 25.6%;
}

.btn-custom {
  width: 250px; 
  height: 70px; 
  font-size: 25px; 
}

#btn-allProducts {
  font-family: fonts.$regular-police;
}
#imgCaroussel{
  height:765px; 
  widht:100%;
}
//----------------------Reponsivite------------------------------

@include responsive.Phone{
  #imgCaroussel{
    height:300px; 
    widht:100%;
  }
  .flex-container-categories{
    display: flex !important;
    flex-direction: column;
  }
  .card {
    height: 300px;
    width: 150px;
    margin: 5%;
  }
  .btn-custom {
    width: 200px; 
    height: 50px; 
    font-size: 17px; 
  }
}
@include responsive.BigScreen{
  #imgCaroussel{
    height:1020px; 
    widht:100%;
  }
}
@include responsive.Tablet{
  #imgCaroussel{
    height:500px; 
    widht:100%;
  }
  .flex-container-categories{
    display: flex !important;
    flex-direction: column;
  }
  .card {
    height: 300px;
    width: 150px;
    margin: 5%;
  }
  .btn-custom {
    width: 250px; 
    height: 50px; 
    font-size: 22px; 
  }
}
@include responsive.LaptopOld{
  #imgCaroussel{
    height:500px; 
    widht:100%;
  }
}