@use 'color';
@use 'responsive';
@use 'fonts';

.background {
    padding: 5%;
    background-image: url('../img/user/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0%;
    font-family: fonts.$regular-police;
  }

.backgroundForm {
  background-image: url('../img/user/backgroundForm.png');
}

  @include responsive.BigScreen{
    .background{
      height: 930px;
    }
  }
