//@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
@import url('./_color.scss');
@import url('./_fonts.scss');
@import url('./_responsive.scss');
@import url('./_home.scss');
@import url('./_footer.scss');
@import url('./_allproducts.scss');
@import url('./_productPage.scss');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
//@import url('./_navbar.scss');

body {
    overflow-x: hidden;
}

main {
    flex-grow: 1;
}

main {
    flex-grow: 1;
}